{% extends 'layout.html.twig' %}

{% block title %}Speedtic Service, un servicio de Prunátic Consultoría Web{% endblock %}
{% block description %}{{ parent() }}{% endblock %}
{% block keywords %}{{ parent() }}{% endblock %}

{% block content %}
    <div id="content" class="speedtic">
        <h1>Speedtic Service</h1>
        <img class="separador" src="/images/separador.jpg" />
        <p>¿Todavía no conoces nuestro servicio Speedtic Service? Descubre nuestro servicio de <strong>asesoramiento en nuevas tecnologías</strong> (TIC) y <strong>mejora tu negocio</strong>.</p>
        <p>Al más puro estilo del <a target="_blank" href="http://en.wikipedia.org/wiki/Speed_dating" title="Speed dating">speed dating</a>, puedes contratar una reunión de corta duración en la que consultar la opinión de un experto en materia de nuevas tecnologías.</p>
        <p>Valoraremos tus necesidades y te orientaremos en posibles soluciones. <strong>Sin ningún compromiso de contratación posterior.</strong></p>
        <p>Luego, con esta información eres tú quien decide a qué proveedor ir y qué hacer.</p>
        <p><strong>Por sólo 100€* y en dos horas, puedes mejorar tu negocio.</strong></p>
        <p><small>* Dos horas de asesoría para desplazamientos inferiores a 50km desde nuestras oficinas. Impuestos no incluidos.</small></p>
    </div>
{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <div class="widget">
            <h4>¿Qué es Speedtic Service?</h4>
            <p>El <strong>Speedtic Service</strong> consiste en una entrevista durante un par de horas con un experto en tecnología con el objetivo de sacar propuestas y soluciones a tus problemas.</p>
        </div>
    </div>
{% endblock %}
